<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livro</title>
</head>
<body>
    <h2>Inserir novo livro</h2>

    <form th:action="@{/}" method="POST">
        <input type="hidden" value="0" name="id">
        <input type="text" placeholder="Nome" name="nome">
        <input type="text" placeholder="Autor" name="autor">
        <input type="text" placeholder="Categoria" name="categoria">
        <input type="text" placeholder="Ano de lançamento" name="anoLancamento">
        <input type="Submit" placeholder="Enviar" >
    </form>

    <table>
        <tr th:each="livro: ${livros}">
            <td th:text="${livro.id}"></td>
            <td th:text="${livro.nome}"></td>
            <td th:text="${livro.autor}"></td>
            <td th:text="${livro.categoria}"></td>
            <td th:text="${livro.anoLancamento}"></td>
        </tr>
    </table>
</body>
</html>