<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Carros</h2>
    <table>
        <tr th:each="carro: ${carros}">
            <td th:text="${carro.id}">
            <td th:text="${carro.marca}"></td>
            <td th:text="${carro.modelo}"></td>
            <td th:text="${carro.ano}"></td>
            <td th:text="${carro.cor}"></td>
        </tr>
    </table>
</body>
</html>